<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<!--引入数据库配置 -->
	<import resource="classpath:spring/web-datasource.xml" />
	<bean id="propertyConfigurer"
		class="com.recycling.common.config.MutilPropertyPlaceholderConfigurer">
		<property name="systemPropertiesMode" value="2" />
		<property name="locations">
			<list>
				<value>classpath:config/jdbc-mysql.properties</value>
				<value>classpath:config/memcache.properties</value>
				<value>classpath:config/emsms_config.properties</value>
                <value>classpath:config/weixin_config.properties</value>
			</list>
		</property>
	</bean>

</beans>